In [1]:
import pandas as pd 
import numpy as np 
import yfinance as yf

In [3]:
apple = yf.Ticker("AAPL")

In [5]:
data_raw = apple.history(start="2010-01-01",end = "2021-01-01")

In [6]:
data_raw.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2009-12-31,6.517776,6.524504,6.439182,6.444380,352410800,0.0,0.0
2010-01-04,6.526950,6.559672,6.494839,6.544687,493729600,0.0,0.0
2010-01-05,6.562731,6.593006,6.521446,6.556003,601904800,0.0,0.0
2010-01-06,6.556004,6.581998,6.444994,6.451722,552160000,0.0,0.0
2010-01-07,6.475573,6.483219,6.393004,6.439793,477131200,0.0,0.0

In [7]:
data_raw.shape

(2770, 7)

In [8]:
data_raw.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,2770.000000,2770.000000,2770.000000,2770.000000,2.770000e+03,2770.000000,2770.000000
mean,31.860089,32.192432,31.528051,31.873388,2.866399e+08,0.001814,0.003971
std,24.853383,25.189297,24.510128,24.864564,2.289079e+08,0.016741,0.153161
min,5.882908,5.993918,5.818077,5.873124,4.544800e+07,0.000000,0.000000
25%,15.302907,15.481824,15.195127,15.346522,1.211217e+08,0.000000,0.000000
50%,24.857038,25.113629,24.569916,24.791562,2.030340e+08,0.000000,0.000000
75%,41.326669,41.681155,41.071279,41.346450,3.889732e+08,0.000000,0.000000
max,137.029580,137.764100,133.346996,135.679657,1.880998e+09,0.205000,7.000000

In [9]:
data_raw.isnull().any()

Open            False
High            False
Low             False
Close           False
Volume          False
Dividends       False
Stock Splits    False
dtype: bool

In [10]:
data_prepared = data_raw.copy(deep=True)

In [11]:
data_prepared.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-12-24,130.349333,132.473514,130.130958,130.994522,54930100,0.0,0.0
2020-12-28,132.999617,136.324846,132.523154,135.679657,124486200,0.0,0.0
2020-12-29,137.029580,137.764100,133.346996,133.873077,121047300,0.0,0.0
2020-12-30,134.577850,134.984823,132.413956,132.731598,96452100,0.0,0.0
2020-12-31,133.088938,133.744064,130.746382,131.709213,99116600,0.0,0.0

In [12]:
data_prepared["5dma"] = data_prepared['Close'].rolling(5).mean()

In [13]:
data_prepared["10dma"] = data_prepared['Close'].rolling(10).mean()

In [14]:
data_prepared["vol_change"] = data_prepared["Volume"].pct_change()

In [15]:
data_prepared["pct_change"] = data_prepared["Close"].pct_change()*100

In [16]:
data_prepared["volatility"] = (data_prepared['High'] - data_prepared['Low'])/data_prepared['Open']

In [17]:
data_prepared["Target"] = 0

In [18]:
data_prepared["Target"] = data_prepared["Open"] < data_prepared["Close"]

In [19]:
data_prepared["Target"] = data_prepared["Target"].astype(int)

In [20]:
data_prepared["Target"] = data_prepared["Target"].shift(-1)

In [21]:
data_prepared["Target"].value_counts()

1.0    1439
0.0    1330
Name: Target, dtype: int64

In [22]:
data_prepared.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,5dma,10dma,vol_change,pct_change,volatility,Target
Date,,,,,,,,,,,,,
2009-12-31,6.517776,6.524504,6.439182,6.444380,352410800,0.0,0.0,NaN,NaN,NaN,NaN,0.013091,1.0
2010-01-04,6.526950,6.559672,6.494839,6.544687,493729600,0.0,0.0,NaN,NaN,0.401006,1.556496,0.009933,0.0
2010-01-05,6.562731,6.593006,6.521446,6.556003,601904800,0.0,0.0,NaN,NaN,0.219098,0.172908,0.010904,0.0
2010-01-06,6.556004,6.581998,6.444994,6.451722,552160000,0.0,0.0,NaN,NaN,-0.082646,-1.590618,0.020898,0.0
2010-01-07,6.475573,6.483219,6.393004,6.439793,477131200,0.0,0.0,6.487317,NaN,-0.135882,-0.184904,0.013932,1.0

In [23]:
data_prepared.to_csv("PreparedData.csv")