In [2]:
import pandas as pd 
import numpy as np 
import yfinance as yf

In [3]:
apple = yf.Ticker("AAPL")

In [4]:
data = apple.history(start="2010-01-01",end = "2021-01-01")

In [5]:
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2009-12-31,6.517775,6.524503,6.439181,6.444379,352410800,0.0,0.0
2010-01-04,6.526949,6.559671,6.494839,6.544686,493729600,0.0,0.0
2010-01-05,6.562731,6.593006,6.521445,6.556003,601904800,0.0,0.0
2010-01-06,6.556003,6.581997,6.444993,6.451721,552160000,0.0,0.0
2010-01-07,6.475574,6.483219,6.393004,6.439793,477131200,0.0,0.0

In [6]:
data.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,2770.000000,2770.000000,2770.000000,2770.000000,2.770000e+03,2770.000000,2770.000000
mean,31.860089,32.192432,31.528051,31.873388,2.866399e+08,0.001814,0.003971
std,24.853383,25.189297,24.510128,24.864564,2.289079e+08,0.016741,0.153161
min,5.882911,5.993919,5.818078,5.873124,4.544800e+07,0.000000,0.000000
25%,15.302908,15.481824,15.195129,15.346523,1.211217e+08,0.000000,0.000000
50%,24.857036,25.113631,24.569910,24.791561,2.030340e+08,0.000000,0.000000
75%,41.326665,41.681165,41.071285,41.346444,3.889732e+08,0.000000,0.000000
max,137.029595,137.764116,133.347011,135.679642,1.880998e+09,0.205000,7.000000

In [7]:
data.isnull().any()

Open            False
High            False
Low             False
Close           False
Volume          False
Dividends       False
Stock Splits    False
dtype: bool